#nav-name{
	font-family: Roboto Slab;
	color: white;
	font-weight: bold;
}
nav > a {
	font-family: Roboto Slab;
	font-weight: bold;
}
ul > li > a {
	font-family: Roboto Slab;
	font-weight: bold;
}

body {
	font-family: 'Fjalla One', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto Slab', serif;
	font-family: 'Water Brush', cursive;
}

.card-body {
	text-align: center;
	color: black;
	font-family: Roboto Slab;
	font-weight: bold;
}

.card-title {
	text-align: center;
	color: black;
	font-family: Roboto Slab;
	font-weight: bold;
}

#myprojects {
	text-align: center;
	color: black;
	font-family: Roboto Slab;
	font-weight: bold;
}

#tools {
	text-align: center;
	color: white;
	font-family: Open Sans;
	font-weight: bold;
}

p {
	font-family: Roboto Slab;
}
i {
	font-size: 3rem;
}
form {
	width: 500px;
	margin: auto;
}
h5 {
	font-family: Roboto Slab;
	font-style: italic;
}
.card-img-top {
	width: 100px;
	height: 320px;
}